.ingredientList {
  padding: 0;
  margin: 0;
}

.ingredientList li {
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: .5rem 0;

  &:last-child {
    border-bottom: none;
  }
}
